html, body { height: 100%; }
body { background-color: #f1f1f1; padding-top: 50px; }

.main-body { background-color: #fff; height: 100%; overflow-y: scroll; }
.head-body { border: 10px solid #ccc; }

.btn, .btn-lg { border: 0!important; }

/* ============== Body Styles ============== */

.top-navigation { background-color: #fff; height: 100px; }
.containing-row { height: 839px; }

.navigation-sidebar { background-color: #444; min-height: 100%; padding: 0; }
.navigation-sidebar.mainnav { background-color: #888; }
.navigation-sidebar.mainnav ul { list-style: none; padding: 0; margin: 0; }
.navigation-sidebar.mainnav ul li h1 { color: #fff; cursor: pointer; }
.navigation-sidebar.mainnav ul li h1:hover { color: #ac2925; }
.navigation-sidebar .search-field { width: 100%; margin: 5px 0; border: 0; padding: 5px 15px; }

.navigation-sidebar.wizard { background-color: #fff; min-height: 100%; padding: 0; border-right: 1px solid #ccc; }
section.task-section.wizard ul { padding: 0; margin: 0; margin-top: 20px; list-style: none; border-top: 1px solid #ccc; }
section.task-section.wizard ul li { display: block; background-color: #fff; color: #000; padding: 25px 20px; cursor: pointer; }
section.task-section.wizard ul li .btn { margin-right: 10px; }
section.task-section.wizard ul li:hover { background-color: #555; color: #fff; }
section.task-section.wizard ul li:hover .btn { color: #000; }
section.task-section.wizard ul li:hover .btn.btn-success { color: #fff; }
section.task-section.wizard ul li.active { background-color: #555; color: #fff; }

section.task-section h4 { background-color: #666; color: #fff; padding: 5px 20px; line-height: 21px; }
section.task-section h4 i { cursor: pointer; }

section.task-section ul { padding: 0; margin: 0; list-style: none; }
section.task-section ul li { display: block; background-color: #4f4f4f; color: #fff; padding: 5px 20px; cursor: pointer; }
section.task-section ul li:hover { background-color: #555; }

/* ============== Event Wizard ============== */

.wizard-body h2.event-title { background: #000; color: #fff; text-align: center; padding: 15px; margin: 0; }
.wizard-body .information-block { padding: 15px; background-color: #dfdfdf; margin-bottom: 20px; }
.wizard-body .information-block h3 { margin-top: 10px; }
.wizard-body .search-field { width: 100%; }

