
/* Setup Styles  */

body {
	/* Change the background image here  */
	background: url('../images/1797398.jpg') #000 fixed;
    background-size: cover;
	font-family:'Open Sans',sans-serif;
}

.container-fluid.white { background: #fff!important; }

.btn, .badge, .dropdown-menu, input, textarea { border-radius: 0px!important; }
 
.modal { width: 700px; display: none; }

a, a:visited{
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

a:hover,a:active{color:#CFCFCF;
	text-decoration: none;
}

a.contactlink { color: #c1dce1; }
a.contactlink:hover { color: #cfcfcf; }

h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-weight:300;
	font-size:50px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

h1.noshadow { text-shadow: none; }

ul { list-style: none; }


.dark {
	color:#fff;
}

.center {
	float:none;
	margin:0 auto;
}

.georgia {
	font-family: Georgia, "Times New Roman", Times, serif!important; margin: 0;
}

/* Main Container Styles  */

.main-container {
	position:relative;
}

.main-container .container {
	padding:30px;
}

.navbar-inner {
    border-bottom: 0 none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    background: #0d0d0d;
    background: rgba(13,13,13,0.9);
}

/* Section Styles  */

#intro {
	margin-top:120px;
	text-align:center;
	min-height:400px;
	padding:0 0 50px;
}

#intro h1 {
	color:#fff;
}

#intro p {
	padding:15px 0;
    padding-top: 40px;
    color:#fff;
}

#about {
	background: #48939a;
	color: #fff;
}

#what_we_do { background: #fff; }

#team {
	background:#000;
	background:rgba(0,0,0,0.7);
}
#contact {
	background:#202020;
}

#support { background: #555; }

.flavor { color: #d54872; }

/* Navbar Styles  */

.thumbnails { padding: 0; margin: 0; }
.thumbnails p { padding-left: 0; margin-left: 0; }

.navbar-fixed-top {
	margin-bottom:0;
	border-top: 4px solid #3ca0aa;
	position: fixed;
}

.navbar-fixed-top.scroll {
	opacity:.96;
}

.navbar-inner {
	border-bottom:0 none;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	filter:none;
	background:#0d0d0d;
	background:rgba(13,13,13,0.9);
}

.navbar .brand {
	font-size:18px;
	font-weight: 300;
	text-shadow:none;
	padding:10px 0 0;
	font-family: raleway;
	color: #fff!important;
}

.navbar .nav.pull-right {
	padding-top:20px;
}

.navbar .nav > li { float: left; }

.navbar .nav > li > a {
	color:#F8F8F8;
	font-size:15px;
	font-weight:300;
	text-shadow:none;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

.navbar .nav li a:hover,.navbar .nav li a:focus{
	color:#F8F8F8;	
}

.navbar .nav > li > a:hover {
	color:#000;
}


.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
	padding-bottom:4px;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-shadow:none;
	background:none;
	color:#fff;
}

.input-fields { box-sizing: content-box; padding-top: 15px; }
.input-fields input,
.input-fields textarea { width: 100%; box-sizing: border-box; padding: 5px; margin: 10px 0; color: #000; }

.input-fields select { padding: 5px; color: #000; min-width: 150px; }

.input-fields textarea { height: 200px; }

.btn-dropnav {
	float:right;
	margin-left:5px;
	margin-right:5px;
	padding:7px 10px;
	display:none;
}

.btn-dropnav .icon-bar {
	background-color:#F5F5F5;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(0,0,0,0.25);
	display:block;
	height:2px;
	width:18px;
}

.btn-dropnav .icon-bar + .icon-bar {
	margin-top:3px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background:none;
	color:#fff;
}

.dropdown-menu li > a:hover,.dropdown-menu li > a:focus,.dropdown-submenu:hover > a {
	background-color:#a5a5a5!important;
	text-decoration:none;
	color:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbdbdb",endColorstr="#a5a5a5");
	background-image:-khtml-gradient(linear,left top,left bottom,from(#dbdbdb),to(#a5a5a5));
	background-image:-moz-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:-ms-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dbdbdb),color-stop(100%,#a5a5a5));
	background-image:-webkit-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:-o-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:linear-gradient(#dbdbdb,#a5a5a5);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77',endColorstr='#475B77',GradientType=0);
}

.navbar .btn-navbar .icon-bar {
	display:block;
	width:18px;
	height:2px;
	background-color:#5FAF08;
	-webkit-border-radius:0px!important;
	-moz-border-radius:0px!important;
	border-radius:0px!important;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar {
	margin-right: 30px;
}

.thumbnail {
	text-align:center;
	border:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
}

.container-fluid.top-container {
    margin-top:105px;
    padding:0 0 20px;
    color: #fff;
}

.container-fluid.top-container p {
    padding:15px 0;
    padding-top: 25px;
    color:#fff;
}

.container-fluid.top-container h1 {
    color:#fff;
}

@media (max-width: 979px) {

	.nav-collapse .nav > li > a:hover,.nav-collapse .dropdown-menu a:hover {
		background:none!important;
	}
	
	.nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
		color:#ccc;
	}
	
	.navbar .brand {
		padding:8px 0 0 40px;
	}
	
	body {
		padding-right:0;
		padding-left:0;
		background-size:250%;
	}

	#intro {
	margin-top:45px;
	}
}

@media (max-width: 767px) {
	body {
		padding-right:0;
		padding-left:0;
		background-size:330%;
	}
	
}

@media (max-width: 480px) {
	body {
		background-size:420%;
	}

}

.btn-purple {
	background-color:#a5a5a5!important;
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbdbdb",endColorstr="#a5a5a5");
	background-image:-khtml-gradient(linear,left top,left bottom,from(#dbdbdb),to(#a5a5a5));
	background-image:-moz-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:-ms-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dbdbdb),color-stop(100%,#a5a5a5));
	background-image:-webkit-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:-o-linear-gradient(top,#dbdbdb,#a5a5a5);
	background-image:linear-gradient(#dbdbdb,#a5a5a5);
	border-color:#246995 #246995 hsl(342,63%,28.5%);
	color:#000!important;
	text-shadow:0 -1px 0 rgba(0,0,0,0.36);
	-webkit-font-smoothing:antialiased;
}

.btn-xlarge {
	padding:20px 40px;
	font-size:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/*	Team Social Icon Styles */


.social{
	text-align: center;
}
.social img {
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-ms-transition:all .5s ease;
	transition:all .5s ease;
	margin-right: 4px;
}

.social img:hover {
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-o-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);
}

/*	BigVideo Styles */


#big-video-wrap {
	overflow:hidden;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#big-video-vid,#big-video-image {
	position:absolute;
}

#big-video-control-container {
	position:fixed;
	bottom:20px;
	padding:0 20px;
	width:100%;
	-webkit-transition-duration:.6s;
	-moz-transition-duration:.6s;
	-ms-transition-duration:.6s;
	-o-transition-duration:.6s;
	transition-duration:.6s;
}

#big-video-control {
	width:100%;
	height:16px;
	position:relative;
	display:none;
}

/* === portfolio === */

#da-thumbs { margin: 0px; padding: 0px; }

.sf-isotope-filters, .sf-da-isotope-filters {
    list-style: none;
    height: 30px;
    margin: 0 0 20px;
}

.sf-isotope-filters li, .sf-da-isotope-filters li {
    display: inline-block;
    margin-right: 25px;
    line-height: 27px;
}

.sf-isotope-filters li a, .sf-da-isotope-filters li a {
    color: #777;
    text-decoration: none;
}

.sf-isotope-filters li a:hover, .sf-da-isotope-filters li a:hover {
    text-decoration: none;
}

.sf-isotope-filters li.active, .sf-da-isotope-filters li.active {
    border-top: 3px solid #3ea1ab;
}

.sf-isotope-filters li.active a, .sf-da-isotope-filters li.active a {
    color: #FFF;
}

.sf-isotope-filters li:hover, .sf-da-isotope-filters li:hover {
    border-top: 3px solid #3ea1ab;
}

.sf-isotope {
    height: 900px;
}

.sf-da-item {
	list-style: none;
	margin-bottom: 20px;
	width: 170px;
	float: left;
	margin-left: 20px;
}

.sf-item {
    width: 23.8%;
    float: left;
    margin: 5px 10px 12px 0px;
}

.sf-item-text {
    width: 100%;
    height: 33px;
    line-height: 33px;
    text-align: center;
}

.sf-item-inner {
    padding: 0.2%;
    overflow: hidden;
}

.sf-item-text h5 {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    z-index: 200;
    font-weight: 300;
    line-height: 33px;
}

.sf-item-overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 100;
    height: 100%;
    background: rgba(20, 20, 20, 0.7);
    margin: 0 0 40px 0;
    opacity: 0;
}

.sf-item-overlay .lsf {
    font-size: 36px;
    color: #E6820E;
    margin-top: 26%;
}

.sf-item-overlay .lsf a {
    color: #FFFFFF;
}

.sf-item-overlay .lsf a:hover {
    text-decoration: none;
    color: #E6820E;
}

.sf-inline-list {
    list-style: none;
}

.sf-inline-list li {
    float: left;
    padding: 0 20px;
}

.fx-filter {
    position: relative;
    display: block;
}

.illustration {
    border: 4px solid #dedede;
    width: 200px;
    height: 130px;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
