@import url("../fonts/fonts.css");
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@charset "UTF-8";

/* CSS Document */
/* =============== Global Definitions =============== */

html, body { height: 100%; min-height: 100%; }
body { margin: 0px; background: #ebf1f6; }
div, span, p, td { font-family: "Open Sans", Tahoma, Geneva, sans-serif; font-size: 12px; }
a { outline: none; }
img { border: 0px; }
strong { font-family: "Open Sans", Tahoma, Geneva, sans-serif; font-weight: 700; }
textarea, input { outline: none; }

h1,h2,h3,h4,h5,h6 { font-family: "Conv_FuturaStd-Light", Tahoma, Geneva, sans-serif; font-weight: normal; }

.btn, .btn-small, .btn-large { border-radius: 0px!important; }

.no-radius { border-radius: 0px!important; }

input, textarea, button, select { border-radius: 0px!important; }
.row-fluid:before, .row-fluid:after { display: block!important; clear: none; }
.clearfix { display: block; }

/* =============== Body Definitions =============== */

/* HEADER STYLES */

h1.title { background: none repeat scroll 0 0 #FFFFFF; border-left: 6px solid #666666; font-size: 28px; padding: 8px 6px 6px 11px; margin-top: 0px; }
h2.title { background: none repeat scroll 0 0 #FFFFFF; border-left: 6px solid #666666; font-size: 20px; padding: 3px 6px 0px 11px; margin-top: 0px; }
h2.title.gray { background: #f1f1f1; }

#menu { width: 240px; height: 100%; background: url('../images/sidebar_bg.png') repeat-y; float: left; position: fixed;}
#menu .quick_search { width: 200px; height: 35px; padding: 0px; padding-left: 40px; margin: 0px; background: url(../images/menu_searchbar.png) no-repeat; font-family: "Conv_FuturaStd-Light", Tahoma, Geneva, sans-serif; font-size: 13px; letter-spacing: 2px; line-height: 20px; border: 0; color: #f1f1f1; text-transform: uppercase; }

#menu .sections { height: 37px; background: url(../images/sectionbar.png) no-repeat; margin-top: -2px; position: relative; padding: 0 6px; padding-left: 16px; }
#menu .sections .section-control { display: block; float: left; width: 60px; height: 26px; margin-top: 7px; padding: 1px; color: #7d99ba; text-decoration: none; line-height: 27px; font-size: 16px; text-align: center; }
#menu .sections .section-control span { display: block; width: 60px; height: 26px; background: url(../images/icon_cog.png) no-repeat 14px 0px; }
#menu .sections .section-control:hover { background: #52637a; border: 1px solid #627792; padding: 0px; color: #fff; }
#menu .sections .section-control:hover span { background: url(../images/icon_cog_2.png) no-repeat 14px 0px;  }
#menu .sections .section-control.active { background: #52637a; border: 1px solid #627792; padding: 0px; color: #fff; }
#menu .sections .section-control.active span { background: url(../images/icon_cog_2.png) no-repeat 14px 0px; }

#menu .sections .section-logout { display: block; float: left; width: 60px; height: 26px; margin: 7px 10px 0px 10px; padding: 1px; color: #7d99ba; text-decoration: none; line-height: 27px; font-size: 16px; text-align: center; }
#menu .sections .section-logout span { display: block; width: 60px; height: 26px; background: url(../images/icon_cog.png) no-repeat 14px 0px; }
#menu .sections .section-logout:hover { background: #52637a; border: 1px solid #627792; padding: 0px; color: #fff; }
#menu .sections .section-logout:hover span { background: url(../images/icon_cog_2.png) no-repeat 14px 0px; }
#menu .sections .section-logout.active { background: #52637a; border: 1px solid #627792; padding: 0px; color: #fff; }
#menu .sections .section-logout.active span { background: url(../images/icon_cog_2.png) no-repeat 14px 0px;  }

#menu .sections .section-other { display: block; float: left; width: 60px; height: 26px; margin: 7px 0px 0px 0px; padding: 1px; color: #7d99ba; text-decoration: none; line-height: 27px; font-size: 16px; text-align: center; }
#menu .sections .section-other span { display: block; width: 60px; height: 26px; background: url(../images/icon_cog.png) no-repeat 14px 0px; }
#menu .sections .section-other:hover { background: #52637a; border: 1px solid #627792; padding: 0px; color: #fff; }
#menu .sections .section-other:hover span { background: url(../images/icon_cog_2.png) no-repeat 14px 0px; }
#menu .sections .section-other.active { background: #52637a; border: 1px solid #627792; padding: 0px; color: #fff; }
#menu .sections .section-other.active span { background: url(../images/icon_cog_2.png) no-repeat 14px 0px; }

#menu .titlebar { height: 46px; color: #dadfe6; font-family: "Conv_FuturaStd-Light"; font-size: 18px; background: url(../images/menu_titlebar.png) no-repeat; margin: 0px; line-height: 48px; padding-left: 12px; letter-spacing: 1px; }
#menu .links-blogadmin { list-style: none; margin: 0; padding: 0; }
#menu .links-blogadmin li { height: 46px; background: url(../images/menu_item.png) no-repeat; border-left: 5px solid #ccc; }
#menu .links-blogadmin li a { display: block; height: 46px; line-height: 46px; color: #bfc8d4; text-decoration: none; padding-left: 20px; font-family: "Conv_FuturaStd-Medium", Tahoma, Geneva, sans-serif; }
#menu .links-blogadmin li:hover { background: url('../images/menu_item_active.png') no-repeat; border-color: #fff!important; }
#menu .links-blogadmin li:hover a { color: #fff; }
#menu .links-blogadmin li.style1 { border-color: #599abe; }
#menu .links-blogadmin li.style2 { border-color: #fad233; }
#menu .links-blogadmin li.style3 { border-color: #8cb61a; }
#menu .links-blogadmin li.active { background: url('../images/menu_item_active.png') no-repeat; border-color: #fff!important; }

#menu .quicksearch_form { padding: 0px; margin: 0px; }

#content { padding: 30px; padding-left: 270px; box-sizing: border-box; }

/* ADVANCED TABLES STYLING */

.advanced_tables tr th {
    color: #FFF; background-color: #7d99ba; padding: 7px; border-left: 1px solid #82a5c7; border-right: 1px solid #99adc5; cursor:  pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.advanced_tables tr th:hover { background-color: #82a5c7; }
.advanced_tables tr th.filtered_result { color: #FC3!important; }
.advanced_tables tr { background: #fff; }
.advanced_tables tr:hover { background: #f1f1f1; }
.advanced_tables td { height: 31px; text-align: center; font-size: 12px; height: 42px; }
.advanced_tables td.name { padding-left: 8px;  }
.advanced_tables td:last-child { padding-right: 0px; }
.advanced_tables .blank { background: #fff; }
.advanced_tables .blank:hover { background: #fff; }

.advanced_tables.no-hover tr:hover { background: #FFF; }

.paginated { padding: 0px; list-style: none; margin: 0px; margin-top: 15px; height: 29px; }
.paginated li { float: left; padding: 0px; margin: 0px; margin-right: 3px; }
.paginated li a { background-color: #7D99BA; padding: 5px 10px; height: 29px; line-height: 29px;  text-decoration: none; color: #fff; }
.paginated li a:hover { background-color: #d0d0d0; color: #000; padding: 5px 10px; border-bottom: 0px!important; }
.paginated li.active a { background-color: #afc6e1; color: #333; font-weight: bold; padding: 5px 10px;  }

/* CUSTOMER INFORMATION */

.customer_information { }
.customer_information ul { list-style: none; width: 50%; float: left; padding: 0px; margin: 0px; }
.customer_information ul li { float: left; padding: 8px; margin-bottom: 3px; background-color: #f1f1f1; width: 60%; font-size: 13px; min-height: 17px; }
.customer_information ul li.title { float: left; width: 25%; background-color: #8ea1b7; color: #FFF; text-align: right; letter-spacing: 1px; }
.customer_information ul li.information { width: 60%; font-size: 13px; border: 1px solid #CCC; border-left: 4px solid #666; background-color: #FFF; padding:7px; min-height: 17px;   }
.customer_information ul li.information:hover { border-color: #5B9D85; }
.customer_information ul li.information p { margin-top: 0px; margin-bottom: 16px; }
.customer_information ul li.information p:last-child { margin-bottom: 0px; }
.customer_information ul li.information[type] { height: 200px; overflow: scroll; overflow-x:hidden; }

.customer_information .invoice_half { float: left; width: 50%; }
.customer_information .invoice_half ul { width: 100%; }
.customer_information .invoice_half ul textarea { width: 60%!important; }

.customer_information ul input.information { width: 60%; font-size: 13px; border: 1px solid #CCC; border-left: 4px solid #666; background-color: #FFF; height: 26px; margin: 0px; font-family: "Open Sans", Tahoma, Geneva, sans-serif; font-weight: normal;
    border-color: #4c628b;
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
}

.customer_information ul textarea.information { width: 80%; height: 200px; font-size: 13px; border: 1px solid #CCC; border-left: 4px solid #666; background-color: #FFF; margin: 0px; font-family: "Open Sans", Tahoma, Geneva, sans-serif; font-weight: normal;
    border-color: #4c628b;
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.2)
}

.customer_information ul select.information { font-size: 13px; border: 1px solid #CCC; border-left: 4px solid #666; background-color: #FFF; height: 36px; margin: 0px; line-height: 36px; font-family: "Open Sans", Tahoma, Geneva, sans-serif; font-weight: normal;
    border-color: #000;
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
}

.customer_information ul textarea.information:focus { border-color: #7cafa9; }
.customer_information ul input.information:focus { border-color: #7cafa9; }

.customer_information ul.fullbar input.information { width: 80%; }
.customer_information ul.fullbar { width: 100%; }
.customer_information ul.fullbar li.title { width: 15%; }
.customer_information ul.fullbar li.information { width: 80%; }

.customer_information td { border-bottom: 3px solid #FFF; padding: 8px; background-color: #CCC; }
.customer_information td.title { background-color: #6E996F; color: #FFF; text-align: right; font-weight: bold; letter-spacing: 1px; padding: 8px; width: 30%; font-size: 13px; }
.customer_information td.price { background-color: #f1f1f1; color: #000; text-align: right; font-weight: bold; letter-spacing: 1px; padding: 8px; width: 10%; font-size: 13px; }

.customer_information #calculate td { border-bottom: 3px solid #FFF; padding: 8px; background-color: #CCC; }
.customer_information #calculate td.title { background-color: #6E996F; color: #FFF; text-align: right; font-weight: bold; letter-spacing: 1px; padding: 8px; width: 15%; font-size: 13px; }
.customer_information #calculate td.options { width: 80%; }
.customer_information #calculate td.price { background-color: #f1f1f1; color: #000; text-align: right; font-weight: bold; letter-spacing: 1px; padding: 8px; width: 5%; font-size: 13px; }